<div class="navbar navbar-inverse navbar-fixed-top" ng-class="{sticky: !isTop}" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#welcome" du-smooth-scroll du-scrollspy>INSOMENIA</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#services" du-smooth-scroll du-scrollspy offset="60">SERVICES</a></li>
        <li><a href="#portfolio" du-smooth-scroll du-scrollspy>PORTFOLIO</a></li>
        <li><a href="#about" du-smooth-scroll du-scrollspy>ABOUT</a></li>
        <li><a href="#tech" du-smooth-scroll du-scrollspy>TECH</a></li>
        <li><a href="#contact" du-smooth-scroll du-scrollspy>CONTACT</a></li>
      </ul>
    </div>
  </div>
</div>
