<div id="services" class="section container">
  <div class="text-center" style="margin-bottom:100px;">
    <h1>SERVICES</h1>
    <ul class="list-unstyled lead text-muted">
      <li>인썸니아는 모바일/웹 개발 전문기업입니다.</li>
      <li>아래와 같은 자체 서비스를 개발 및 운영하고 있습니다.</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
      <img src="images/img1.png" style="width:130px;margin:10px;">
      <h4>ITEMME</h4>
      <ul class="list-unstyled text-muted">
        <li>아이템미는 소셜 위시리스트이자 쇼핑 유틸리티 입니다.</li>
        <li>내 취향의 상점/상품을 찾고 담고 공유할 수 있습니다.</li>
        <li>상점에게는 마케팅툴과 방문/구매 통계를 제공합니다.</li>
      </ul>
      <ul class="list-inline">
        <li><a href="#" class="btn-social"><i class="fa fa-home"></i></a></li>
        <li><a href="#" class="btn-social"><i class="fa fa-apple"></i></a></li>
        <li><a href="#" class="btn-social"><i class="fa fa-android"></i></a></li>
      </ul>
    </div>

    <div class="col-sm-4 text-center">
      <img src="images/img2.png" style="width:130px;margin:10px;">
      <h4>GIFTY</h4>
      <ul class="list-unstyled text-muted">
        <li>기프티는 무료앱을 다운받고</li>
        <li>문화상품권/기프티콘을 받는 리워드앱 입니다.</li>
        <li>1분만에 천원 문상 받아가세요</li>
      </ul>
      <ul class="list-inline">
        <li><a href="#" class="btn-social"><i class="fa fa-home"></i></a></li>
        <li><a href="#" class="btn-social"><i class="fa fa-android"></i></a></li>
      </ul>

    </div>
    <div class="col-sm-4 text-center">
      <img src="images/img3.png" style="width:130px;margin:10px;">
      <h4>HATE BUGS</h4>
      <ul class="list-unstyled text-muted">
        <li>벌레가 싫어하는 고주파, 초음파, 천적소리 등</li>
        <li>다양한 방법으로 모리,파리,벌,바퀴 등 해충을 쫒아 줍니다</li>
        <li>앱을 켜면 벌레를 쫒거나 움직이지 않도록 합니다.</li>
      </ul>
      <ul class="list-inline">
        <li><a href="#" class="btn-social"><i class="fa fa-android"></i></a></li>
      </ul>
    </div>
  </div>
</div>
