<div id="portfolio" class="section section-grey">
  <div class="container">
    <div class="text-center" style="margin-bottom:100px;">
      <h1>PORTFOLIO</h1>
      <ul class="list-unstyled text-muted lead">
        <li>인썸니아는 스타트업 또는 중견기업의 의뢰를 받고</li>
        <li>빠르고 효과적으로 개발해 드립니다.</li>
      </ul>
    </div>
    <div class="row text-center">
      <div class="col-sm-4">
        <a href="#">
          <div class="portfolio-hover">
            <i class="fa fa-plus"></i>
          </div>
          <img src="images/img11.jpg">
        </a>
        <div class="caption">
          <h4>길보드</h4>
          <ul class="list-unstyled text-muted">
            <li>추억의 KPOP을 매일 골라주는 음악 서비스</li>
            <li>인썸니아는 안드로이드, 서버, 디자인을</li>
            <li>담당했습니다.</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <a href="">
          <div class="portfolio-hover">
            <i class="fa fa-plus"></i>
          </div>
          <img src="images/img22.jpg">
        </a>
        <div class="caption">
          <h4>디스코판다 for Kakao</h4>
          <ul class="list-unstyled text-muted">
            <li>카카오톡으로 출시된 이어붙이기 퍼즐게임</li>
            <li>인썸니아는 2.0 버쪈 업데이트의</li>
            <li>서버 파트 구현을 담당했습니다.</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <a href="">
          <div class="portfolio-hover">
            <i class="fa fa-plus"></i>
          </div>
          <img src="images/img33.jpg">
        </a>
        <div class="caption">
          <h4>롯O이벤트</h4>
          <ul class="list-unstyled">
            <li>L모백화점의 의뢰로 제작한 증강현실앱.</li>
            <li>인썸니아가 서버와 디자인,</li>
            <li>아이폰/안드로이드 앱을 제작하였습니다.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
