<div id="tech" class="section section-grey">
  <div class="container">
    <div class="text-center" style="margin-bottom:100px;">
      <h1 style="margin-bottom:100px;">OUR TECHNOLOGIES</h1>
      <div class="row">
        <div class="col-sm-4">
          <img class="tech-img" src="images/server-tech.png" alt="Server Tech"/>
          <h3>Server Tech</h3>
          <ul class="list-unstyled">
            <li>ROR, Node.js, Parse, GAE, AWS를</li>
            <li>활용하여 효율적인 개발과 대용량 처리에 문제없습니다</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <img class="tech-img" src="images/mobile.png" alt="Mobile"/>
          <h3>Mobile</h3>
          <ul class="list-unstyled">
            <li>하이브리드, iOS/Android 네이티브, 모바일 결제/스트리밍 등</li>
            <li>모바일과 관련한 모든 경험을 보유하고 있습니다</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <img class="tech-img" src="images/html5.png" alt="html5"/>
          <h3>HTML5</h3>
          <ul class="list-unstyled">
            <li>HTML5기반으로 웹과 모바일 모두 대응할 수 있는</li>
            <li>반응형 웹을 빠르게 구현합니다</li>
          </ul>
        </div>
      </div>
      <h4 style="margin-top:50px;">
        그밖에 증강현실, 모바일 게임 서버/클라이언트, Unity, EBook, E-Commerce, 모바일 광고, 리워드 등
      </h4>
      <h4>
        다양한 기술기반을 가지고 있습니다. 언제든 기술 컨설팅이 필요하시면 문의해 주세요
      </h4>
    </div>
  </div>
</div>
